<!DOCTYPE html>
<html lang="tr">
<head>
    <title>PDF to Text OCR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>PDF to Text OCR</h1>
        <h2>using ocr: ocrProject1</h2>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" accept=".pdf">
            <button class="button2" type="submit">Convert to Text</button>
        </form>
        {% if text %}
        <!--- <textarea name="edited_text">{{ text }}</textarea> ---> <!--- This can edit output but working slowly --->
        <label>
            <textarea readonly>{{ text }}</textarea>
        </label>
        <p>Processed File: {{ filename }}</p>
        <h2>Conversion Time:</h2>
        <p>{{ elapsed_time }} seconds</p>
        <button id="download-button" class="button2">DOWNLOAD TEXT</button>
        <button id="copy-button" class="button2">COPY TEXT</button>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const downloadButton = document.getElementById("download-button");
            const copyButton = document.getElementById("copy-button");
            const outputText = document.querySelector("textarea");

            downloadButton.addEventListener("click", function() {
                const blob = new Blob([outputText.value], { type: "text/plain;charset=utf-8" });
                const filename = "output_text.txt";
                saveAs(blob, filename);
            });

            copyButton.addEventListener("click", function() {
                outputText.select();
                document.execCommand("copy");
            });
        });
    </script>
</body>
</html>
